:root {
    --inkColor: #000;
}

body {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#topRow {
    position: fixed;
    top: 0;
    background: white;
    z-index: 9000;
    left: 0;
    padding: 8px;
}

#stampList {
    margin-top: 40px;
}

#stampList li {
    margin: 7px 0;
    padding: 0 15px;
}

.stamp {
    color: var(--inkColor);
}

.search-container {
    display: flex;
    align-items: center;
    background: #00000005;
    border-radius: 16px;
    padding: 7px 13px;
    width: 240px;
    border: 1px solid currentColor;
}

.search-container:focus-within {
    outline: 2px solid currentColor;
}

.search-icon {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.search-input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.search-input::placeholder {
    color: var(--inkColor);
    opacity: 0.6;
}

.card-container {
    display: flex;
    align-items: center;
    background: color-mix(in srgb, var(--inkColor) 88%, transparent);
    border-radius: 0 17px 17px 17px;
    padding: 8px 16px;
    width: 240px;
    border: 1px solid var(--inkColor);
    color: white;
}

.card-icon {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.card-content {
    flex: 1;
}

.card-title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;
}

.card-message {
    font-size: 12px;
    opacity: 0.8;
    margin: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    background: transparent;
    justify-content: center;
    padding: 0px 16px;
    width: 240px;
}
